header
  margin-top: 5rem
  margin-bottom: 5rem
  clear: both

.frog
  cursor: pointer
  display: inline-block
  border-bottom: 0
  vertical-align: middle
  padding-right: 1em

.feels
  color: #01ffff // updated to active palette color
  font-family: biff
  font-size: 42px;
  vertical-align: top;
  margin-left: 1.4rem;

// nav
//   display: inline-block
//   float: right
//   margin-top: 1.5rem
