<!DOCTYPE html>
<html>
  <head>
    <title>HyperWeb Space Program</title>
    <meta name="description" content="A cool space thing made with HyperWeb">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <script
			  src="https://code.jquery.com/jquery-2.2.2.min.js"
			  integrity="sha256-36cp2Co+/62rEAAYHLmRCPIych47CvdM+uTBJwSzWjI="
			  crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="/models.js"></script>
    <script src="/engine.js"></script>
    <script src="/levels.js"></script>
    <script src="/renderer.js"></script>
    <script src="/input.js"></script>
    
    <svg id="scene"></svg>
    
  </body>
</html>