footer
  p
    a(href="https://feelings.blackfriday" class='secondary-link') Contribute Feelings
  p
    a(href="https://hyperdev.com/#!/project/sky-carver" class='secondary-link') On HyperDev
  p
    a(href="https://twitter.com/pketh" class='secondary-link') @pketh
