header
  span.frog
    a(href='http://frogfeels.com')
      img(src=frog srcset="#{frog2x} 2x")
      .feels Feels
  // nav
  //   a(href='/sign-up-in').secondary-link Add Feels
  // if isSignedIn
  //   .user
  //     span.greeting
  //     span &nbsp;
  //     span.user-name
  //     span &nbsp;–&nbsp;
  //     a(href='/sign-out').secondary-link.sign-out sign out
  // else if contentPage
  //   a(href='/sign-up-in').user.secondary-link.sign-up-in Sign up or in

