<!-- view template -->
<!-- called from your routes in server.js -->

<!-- templating docs: http://mozilla.github.io/nunjucks/ -->

<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <meta name="description" content="A cool thing made with HyperWeb">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <div class="page">
      <header>
        <h1>
          Memory!
          <span class="elapsed" data-bind="text: elapsed"></span>
        </h1>
      </header>
  
      <h3 class="message" data-bind="html: message"></h3>
      <section class="board">
        <div data-bind="foreach: cards">
          <div class="card" data-bind="css: content, click: clicked"></div>
        </div>
      </section>
    </div>
    
    <div style="color: white; margin-left: auto; margin-right: auto; width: 300px">
      <p>Try also:</p>
      <ul>
        <li><a href="/?theme=cat" style="color: white">Memory Cats</a></li>
        <li><a href="/?theme=dog" style="color: white">Memory Dogs</a></li>
        <li><a href="/" style="color: white">Memory Colors</a></li>
      </ul>
    </div>

    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.0/knockout-debug.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.12.0/moment.min.js"></script>
    <script src="/client.js"></script>

  </body>
</html>
