<!DOCTYPE html>
<html>
<head>
	<title>YOLO</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/style.css">
</head>
<body>
	<div class="input">
		<input type="text" id="txt_input" autofocus>
		<input type="button" id="btn_add" value="+">
	</div>	
	<ul id="list"></ul>
</body>
<script type="text/javascript" src="client.js"></script>
</html>