/* styles */
/* called by your view template */

/* btw vendor prefixes are added automatically */

/* You might want to try something fancier: */
/* less: http://lesscss.org/ */

* {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}

header {
  max-width: 75rem;
  text-align: center;
}

body {
  font-family: helvetica, arial, sans-serif;
  margin: 25px;
  background-color: #EBE3E0;
}

main {
  max-width: 40rem;
}

h1 {
  font-weight: bold;
  font-size: 36px;
  color: black;
  text-align: center;
  margin-bottom: 0px;
}

.bold {
  font-weight: bold;
}

.quotes {
  padding: 20px;
  cursor: pointer;
}

.quotes:hover {
  background-color: rgba(110, 101, 143, 0.53);
}

li {
  margin-bottom: 5px;
}

footer {
  margin-top: 30px;
  padding-top: 25px;
  border-top: 1px solid grey;
}

#remix {
  color: grey;
}
