section.intro
  h2.instructions Hi,
  ul.instructions-list
    li= 'anonymously draw a '
      a(href="https://feelings.blackfriday") feeling
    li see what everyone else drew next week
    li repeat ↩︎
