
// if token
//   div
//     a(href="https://hyperdev.com?comingFrom=about")
//       button Start Coding
// else
//   form(action="/about/register" method="POST").cta
//     input(type="email" name="email" required value="#{email}" placeholder="space@jam.com")
//     a(onclick="javascript: ga('send', {hitType: 'pageview',page: '/internal-links/signup/#{ga}'});")
//       button Sign Up for the Beta

// .form-submitted.hidden
//   p Thanks for signing up for our private beta! We'll email you soon about your invite 💌

div
  a(href="https://hyperdev.com?comingFrom=about")
    button Start Coding
