footer

  p
    a(href="https://hyperdev.com/#!/project/cosmic-panther", onclick="javascript: ga('send', {hitType: 'pageview',page: '/internal-links/remix/footer'});")
      img(class="bird" width=35 height=29 src="https://hyperdev.com/images/logos/hyperdev/bird.svg")
      span Made in HyperDev, of course
  p
    a(href=communityProjects) Community Projects
  p
    a(href="http://support.hyperweb.space/") Forum    
  p
    a(href="https://hyperdev.com/blog/") Blog
  p
    a(href="https://hyperdev.com/help/faqs/") FAQ
  p
    a(href="/legal/") Legal Stuff

  script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.3/jquery.min.js")
  script(src="/about/giffer.js")
  script(src="/about/index.js")
