head
  title=title
  meta(name="description" content="Combining automated deployment, instant hosting & collaborative editing, HyperDev gets you straight to coding so you can build full-stack web apps, fast")
  meta(name="keywords" content="developer, javascript, nodejs, editor, ide, development, online, web, code editor, html, css")
  
  // facebook open graph tags
  meta(property="og:type" content="website")
  meta(property="og:title" content="HyperDev")
  meta(property="og:image" content="https://hyperdev.com/images/logos/hyperdev/bird.svg")
  meta(property="og:description" content="HyperDev is the developer playground for building full-stack web apps, fast. Combining automated deployment, instant hosting and collaborative editing to get you straight to coding")
  
  // twitter card tags
  meta(property="twitter:card" content="summary")
  meta(property="twitter:site" content="@FogCreek")
  
  // page meta
  link(id="favicon" rel="icon" href="https://hyperdev.com/favicon.ico" type="image/x-icon")
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible" content="IE=edge")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  
  link(rel="stylesheet" href="//cloud.webtype.com/css/3a8e55c6-b1f3-4659-99eb-125ae72bd084.css")
  link(rel="stylesheet" href="/about/index.css")
  
  // Google Tag Manager
  noscript
    iframe(src="//www.googletagmanager.com/ns.html?id=GTM-TMJWF4" height="0" width="0" style="display:none;visibility:hidden;")
  script.
    (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-TMJWF4');
  // Eng Google Tag Manager