include head

body.legal

  main

    header
      a(href="/")
        img(class="bird" src="https://hyperdev.com/images/logos/hyperdev/bird.svg")
      h1 HyperDev - Legal Stuff

    section
      a(href="#tos")
        button.button-secondary Terms of Service
      a(href="#privacy")
        button.button-secondary Privacy Policy
      a(href="#dmca")
        button.button-secondary DMCA

    section.content
      a(name="tos")
      h1.c7(id='h.s6qhfxc5rdl2')
        span.c13 HyperDev Terms of Service
      h2.c1(id='h.nj633s8e5xhh')
        span.c4 ACCEPTANCE OF TERMS
      p.c2
        span.c0
          | IMPORTANT -- READ CAREFULLY: BY CREATING AN ACCOUNT OR BY UTILIZING THE HyperDev SERVICE YOU AGREE TO BE BOUND BY THESE TERMS AND CONDITIONS.
      p.c2
        span.c0
          | Welcome to the HyperDev service, website or mobile application (collectively, the &quot;Service&quot;). Your use of the Service is subject to these Terms of Service and 
        span.c6
          a.c3(href='#privacy') HyperDev&rsquo;s Privacy Policy
        span.c0
          |  (collectively, the &ldquo;Terms of Service&rdquo; or &ldquo;Agreement&rdquo;). These Terms of Service are a legal agreement between You and HyperDev, Inc. (&ldquo;HyperDev&rdquo;), a Delaware Corporation, for use of the HyperDev service. &quot;You&quot; refers to any individual who creates an account on the Service, or, if the Service is being used on behalf of an entity by an individual authorized to agree to such terms on behalf of such entity, then &quot;You&quot; refers to such entity. If You are accessing the Service on behalf of Your employer, you represent and warrant that You have the authority to agree to these Terms of Service on its behalf. If You do not agree with the terms of this Agreement, do not use the Service. HyperDev reserves the right to update and change the Agreement from time to time without notice or acceptance by You. The Agreement will also be applicable to the use of the Service on a trial basis. By using the Service, You signify Your irrevocable acceptance of this Agreement. The website and any downloadable software associated with the Service are protected by copyright laws and international copyright treaties, as well as other intellectual property laws and treaties.
      h2.c1(id='h.lr73bdhojioz')
        span.c4 DESCRIPTION OF SERVICE
      p.c2
        span.c0
          | The Service includes, and is limited to, a service, web site, or mobile application that allows You access to and use of a single HyperDev Account. &quot;HyperDev&quot; referred to herein means a development environment for building web apps fast with instant deployment, hosting and collaborative editing. The Service may contain information, data, text, photographs, videos, audio clips, written posts and comments, software, scripts, graphics, and interactive features generated, provided, or otherwise made accessible on or through the Service (collectively, &ldquo;Content&rdquo;). Subject to these Terms of Service, HyperDev grants to You and each user of the Service a worldwide, non-exclusive, non-sublicensable and non-transferable license to use (i.e., to download and display locally) Content solely for purposes of using the Service. Use, reproduction, modification, distribution or storage of any Content for other than purposes of using the Service is expressly prohibited without prior written permission from us. You shall not sell, license, rent, or otherwise use or exploit any Content for commercial use or in any way that violates any third party right. For the purposes of these Terms of Service, &ldquo;Content&rdquo; also includes all User Content (as defined below).
      p.c2
        span.c0
          | A &quot;HyperDev Account&quot; or &quot;Account&quot; referred to herein means a service, web site, or mobile application, provided by HyperDev, where You may use HyperDev to create, update, share, and publish information, data, text, messages or other materials (&quot;User Content&quot;).
      p.c2
        span.c0
          | Without limiting the foregoing, the Service is not designed or licensed for use in hazardous environments requiring fail-safe controls, including without limitation operation of nuclear facilities, aircraft navigation/communication systems, air traffic control, and life support or weapons systems.
      p.c2
        span.c0
          | Unless explicitly stated otherwise, any new features that augment or enhance the current Service, including the release of new tools and resources, shall be subject to the Agreement. In order to use the Service, You must obtain access to the World Wide Web, either directly or through devices that access web-based content, and pay any service fees associated with such access. In addition, You must provide all equipment necessary to make such connection to the World Wide Web, including a computer and modem or other access device. You also understand and agree that the service may include certain communications from HyperDev, such as service announcements, administrative messages, etc., and that these communications are considered part of the Service and You will not be able to opt out of receiving them. You agree not to access the Service by any means other than through the interfaces that are provided by HyperDev for use in accessing the Service. HyperDev will provide the Service in accordance with this Agreement. HyperDev may at its sole discretion modify the features of the Service from time to time without prior notice.
      h2.c1(id='h.6qi2moxyv48l')
        span.c4 REGISTRATION
      p.c2
        span.c0
          | In order to use the Service, You must have a valid Account. To acquire an Account for the Service, You must provide HyperDev with an electronic mail address and other information (&quot;Registration Data&quot;). You are responsible for maintaining the confidentiality of the access data for Your Account, and are fully responsible for all activities that occur under Your Account. You agree to (a) immediately notify HyperDev of any unauthorized use of Your Account or any other breach of security, and (b) ensure that You exit from Your Account at the end of each session. HyperDev cannot and will not be liable for any loss or damage arising from Your failure to comply with this section. In consideration of use of the Service, You agree to: (a) provide true, accurate, current and complete information about Yourself as prompted by the Service&apos;s registration form, and (b) maintain and promptly update the Registration Data to keep it true, accurate, current and complete. HyperDev assumes no duty to verify such information as further detailed in the CONTENT OF THE SERVICE section of these Terms of Service. If You provide any information that is untrue, inaccurate, not current or incomplete, or HyperDev has reasonable grounds to suspect that such information is untrue, inaccurate, not current or incomplete, HyperDev has the right to suspend or terminate Your Account and refuse any and all current or future use of the Service (or any portion thereof). By using the Service (and registering an Account on the Service), You represent and warrant that You are at least 13 years of age, and no one under the age of 13 may use the Service - except as set forth below under &quot;Kids Under 13 and HyperDev&quot;. HyperDev may, in its sole discretion, refuse to offer the Service to any person or entity and change its eligibility criteria at any time. You are solely responsible for ensuring that these Terms of Service are in compliance with all laws, rules and regulations applicable to you and the right to access the Service is revoked where these Terms of Service or use of the Service is prohibited or to the extent offering, sale or provision of the Service conflicts with any applicable law, rule or regulation.
      h2.c1(id='h.dm1bw4wfqocg')
        span.c4 KIDS UNDER 13 AND HyperDev
      p.c2
        span.c0 HyperDev is not directed to children, and we expect that any use by children will only be done with the guidance, supervision and consent of their parents, guardians and/or authorized school officials. HyperDev relies on parents and guardians to ensure that minors only use HyperDev if they can understand their rights and responsibilities as laid out in these Terms of Service and in our Privacy Policy.
      p.c2
        span.c0
          | In the event that you are a school, district or teacher in the United States and want your students, who are under the age of 13, to create HyperDev accounts you agree that you are responsible for complying with the U.S. Children&apos;s Online Privacy Protection Act (&quot;COPPA&quot;) and, to the extent applicable, the Family Educational Rights and Privacy Act (&quot;FERPA&quot;). This means that you must notify the students&apos; parents/guardians of the personally identifiable information that HyperDev will collect, and that you will obtain parental/guardian consent before your students establish accounts or use HyperDev. When obtaining such consent, you must provide parents/guardians with a copy of our 
        span.c6
          a.c3(href='#privacy') Privacy Policy
        span.c0
          | . You must keep all consents on file and provide them to us if we request them. For more information on complying with COPPA, see 
        span.c6
          a.c3(href='http://www.ftc.gov/privacy/coppafaqs.shtm&sa=D&ust=1461936971498000&usg=AFQjCNGQVEXlglu-k8w3wr-pPEVXjRiOSw') the Federal Trade Commission&apos;s website
        span.c0
          | . If you are located outside of the United States, we will rely upon you to obtain any required consent or approval from the parent or guardian of any student covered by similar laws, and, as a condition to your and your students&apos; use of HyperDev, you agree that you will be responsible for complying with such laws.
      h2.c1(id='h.1otbne7w8b4f')
        span.c4 BILLING/PAYMENT TERMS
      p.c2
        span.c0
          | Additional groupings of features may be added to the Service and made available to You as a paid upgrade (&quot;Paid Plan&quot;). If You choose to subscribe to a Paid Plan, You shall pay fees (described below) to HyperDev. Upon selection of a Paid Plan, You will provide HyperDev with the necessary billing information (&quot;Billing Data&quot;).
      p.c2
        span.c0
          | Credit cards are the only payment mechanism HyperDev will accept for payment of a monthly or yearly subscription fee (&quot;Subscription Fee&quot;) for a Paid Plan. All currency references are in U.S. dollars. Paid Plans can be paid as either a monthly Subscription Fee or a yearly Subscription Fee.
      p.c2
        span.c0
          | If you select a Paid Plan, You must provide current, complete and accurate Billing Data. You must promptly update all Billing Data to keep Your Account current, complete and accurate (such as a change in billing address, credit card number or credit card expiration date) and You must promptly notify HyperDev if Your Payment Method is changed (for example, for loss or theft) or if You become aware of a potential breach of security, such as the unauthorized disclosure or use of Your name or password. If You fail to provide any of the foregoing information, You agree that HyperDev may continue charging You for any use of the Paid Plan under your Billing Data unless You have terminated Your Paid Plan as set forth herein.
      p.c2
        span.c0
          | If You select the Monthly Fee, the credit card that You provide as part of the Billing Data will be automatically and immediately billed on the first Business Day of each Month. You agree that HyperDev may charge to Your credit card all amounts due and owing for Your Account on that monthly basis or upon cancellation (see &quot;Termination, Breach, Suspension and Cancellation&quot; and &quot;Refund&quot;). If You select the Yearly Fee, the credit card that You provide as part of the Billing Data will be automatically and immediately billed on the day You sign up. You agree that HyperDev may charge to Your credit card all amounts due and owing for Your Account on that yearly basis unless you cancel the account (see the &quot;Termination, Breach, Suspension and Cancellation&quot; and &quot;Refund&quot; sections of these Terms of Service). HyperDev will contact You via electronic mail to alert You upon each charge. HyperDev may change prices at any time without prior notice, but will endeavor to provide reasonable advance notice via the HyperDev website and/or electronic mail. You agree that in the event HyperDev is unable to collect the fees owed to HyperDev for Your Account through Your Subscription Fee, HyperDev may take any other steps it deems necessary to collect such fees from You and that You will be responsible for all costs and expenses incurred by HyperDev in connection with such collection activity, including collection fees, court costs and attorneys&apos; fees.
      p.c2
        span.c0
          | As long as Your Account remains active and in good standing, You will be charged the Subscription Fee even if You never use the service. You may, however, cancel Your Paid Plan at any time.
      h2.c1(id='h.e0nz1m3mveay')
        span.c4 TERMINATION, BREACH, SUSPENSION AND CANCELLATION
      p.c2
        span.c0
          | If Your Subscription Fee payment is overdue, HyperDev will disable Your access to the features provided by the Paid Plan. HyperDev may, at its sole discretion, at any time and for any reason, terminate the Service, terminate this Agreement, or suspend or terminate Your Account. In the event of suspension or termination, Your account will be disabled and You may not be granted access to Your Account or any files or other Content (including Your User Content) contained in Your Account, and HyperDev may delete Your User Content, although residual copies of information may remain in our system for some time for back-up purposes. In the event of termination, HyperDev may also withdraw and at its discretion reallocate the public web address of Your Account.
      p.c2
        span.c0
          | If You terminate Your Account, via means provided for cancellation on the HyperDev website, or via telephone call or electronic mail to HyperDev, and You request that HyperDev delete Your User Content and files contained in Your Account, HyperDev will make all reasonable efforts to do so.
      h2.c1(id='h.j9sfg5wdcnxm')
        span.c4 REFUND
      p.c2
        span.c0 HyperDev
        span.c0
          | provides means for Account and Paid Plan cancellation on the HyperDev website. If You cancel Your Account within 90 calendar days of the date of sign up, and You request a refund, HyperDev will refund all payments You have made to HyperDev within the 90 calendar days prior to the cancellation and refund request.
      h2.c1(id='h.lzm47hcwsh3q')
        span.c4 PROPRIETARY/INTELLECTUAL PROPERTY RIGHTS
      p.c2
        span.c0 HyperDev
        span.c0
          | and/or its suppliers, as applicable, retain ownership of all proprietary rights in the Service and in all trade names, trademarks and service marks associated or displayed with the Service. You will not remove, deface or obscure any of HyperDev&apos;s or its suppliers&apos; copyright or trademark notices and/or legends or other proprietary notices on, incorporated therein, or associated with the Service. You may not reverse engineer, reverse compile or otherwise reduce to human readable form any software associated with the Service.
      p.c2
        span.c0 HyperDev is a Trademark of HyperDev, Inc.
      h2.c1(id='h.ilke6ax8q0ev')
        span.c4 EXPORT RESTRICTIONS
      p.c2
        span.c0
          | You acknowledge that the Service, or portion thereof may be subject to the export control laws of the United States. You will not export, re-export, divert, transfer or disclose any portion of the Service or any related technical information or materials, directly or indirectly, in violation of any applicable export law or regulation.
      h2.c1(id='h.ol4suqqbf2dg')
        span.c4 INJUNCTIVE RELIEF
      p.c2
        span.c0
          | You acknowledge that any use of the Service contrary to this Agreement, or any transfer, sublicensing, copying or disclosure of technical information or materials related to the Service, may cause irreparable injury to HyperDev, its affiliates, suppliers and any other party authorized by HyperDev to resell, distribute, or promote the Service (&quot;Resellers&quot;), and under such circumstances HyperDev, its affiliates, suppliers and Resellers will be entitled to equitable relief, without posting bond or other security, including, but not limited to, preliminary and permanent injunctive relief.
      h2.c1(id='h.wj8ld2lsrtle')
        span.c4 PROPER USE
      p.c2
        span.c0 HyperDev
        span.c0
          | does not claim ownership over any User Content submitted on or through the Service. Your User Content belongs to You. However, by uploading any User Content to the Service, You agree that HyperDev may store and display (only to You, to the extent that You make such User Content private) Your User Content solely as necessary in connection with the Service. To the extent You choose to share any of Your User Content with other users of the Service, You agree to allow these users (i.e., only the users you specify) to view Your User Content and, to the extent applicable, collaborate with You and Your User Content.
      p.c2
        span.c0
          | You understand that all User Content is the sole responsibility of the person from which such User Content originated. This means that You, and not HyperDev, are entirely responsible for all User Content that You upload, post, transmit or otherwise make available via Your Account. HyperDev does not control the User Content posted via the Service and, as such, does not guarantee the accuracy, integrity or quality of such User Content.
      p.c2
        span.c0
          | You understand that by using the Service, You may be exposed to User Content that is offensive, indecent or objectionable. Under no circumstances will HyperDev be liable in any way for any User Content, including, but not limited to, for any errors or omissions in any Content, or for any loss or damage of any kind incurred as a result of the use of any Content posted, transmitted or otherwise made available via the Service. You acknowledge that HyperDev does not pre-screen User Content, but that HyperDev and its designees shall have the right (but not the obligation) in their sole discretion to refuse, modify or move any Content that is available via the Service. Without limiting the foregoing, HyperDev and its designees shall have the right to remove any User Content that violates the Agreement or is otherwise objectionable. You agree that You must evaluate, and bear all risks associated with, the use of any Content, including any reliance on the accuracy, completeness, or usefulness of such Content. In this regard, You acknowledge that You may not reasonably rely on any Content created by HyperDev or submitted to HyperDev. You acknowledge and agree that HyperDev may preserve User Content and may also disclose User Content if required to do so by law or in the good faith belief that such preservation or disclosure is reasonably necessary to:
      p.c2
        span.c0 (a) comply with legal process;
      p.c2
        span.c0 (b) enforce the Agreement;
      p.c2
        span.c0 (c) respond to claims that any Content violates the rights of third-parties; or
      p.c2
        span.c0
          | (d) protect the rights, property, or personal safety of HyperDev, its users and the public.
      p.c2
        span.c0
          | If HyperDev discloses User Content to comply with legal process or respond to claims that any User Content violates the rights of third-parties, to the extent permitted by law, regulation or legal process, HyperDev agrees to provide You with prompt notice of any such legal or governmental demand and reasonably cooperate with You in any effort to seek a protective order or otherwise to contest such required disclosure.
      p.c2
        span.c0
          | You understand that the technical processing and transmission of the Service, including Your User Content, may involve (a) transmissions over various networks; and (b) changes to conform and adapt to technical requirements of connecting networks or devices.
      p.c2
        span.c0
          | Should User Content be found or reported to be in violation with, but not limited to, the following terms, it will be in HyperDev&apos;s sole discretion as to what action should be taken. You agree that You will not:
      p.c2
        span.c0
          | (a) upload, post, transmit or otherwise make available any User Content that is unlawful, harmful, threatening, abusive, harassing, tortuous, defamatory, vulgar, obscene, libelous, invasive of another&apos;s privacy (up to, but not excluding any address, email, phone number, or any other contact information without the written consent of the owner of such information), hateful, or racially, ethnically or otherwise objectionable;
      p.c2
        span.c0 (b) harm minors in any way;
      p.c2
        span.c0
          | (c) impersonate any person or entity, including, but not limited to, a HyperDev official, forum leader, guide or host, or falsely state or otherwise misrepresent Your affiliation with a person or entity;
      p.c2
        span.c0
          | (d) forge headers or otherwise manipulate identifiers in order to disguise the origin of any User Content transmitted through the Service;
      p.c2
        span.c0
          | (e) upload, post or otherwise transmit any User Content that You do not have a right to transmit under any law or under contractual or fiduciary relationships (such as inside information, proprietary and confidential information learned or disclosed as part of employment relationships or under nondisclosure agreements);
      p.c2
        span.c0
          | (f) upload, post or otherwise transmit any User Content that infringes any patent, trademark, trade secret, copyright, rights of privacy or publicity, or other proprietary rights of any party;
      p.c2
        span.c0
          | (g) upload, post, or transmit unsolicited commercial email or &quot;spam&quot;. This includes unethical marketing, advertising, or any other practice that is in any way connected with &quot;spam&quot;, including but not limited to (a) sending mass email to recipients who haven&apos;t requested email from You or with a fake return address, (b) promoting a site with inappropriate links, titles, descriptions, or (c) promoting Your site by posting multiple submissions in public forums that are identical;
      p.c2
        span.c0
          | (h) upload, post or otherwise transmit any material that contains software viruses or any other computer code, files or programs designed to interrupt, destroy or limit the functionality of any computer software or hardware or telecommunications equipment;
      p.c2
        span.c0
          | (i) interfere with or disrupt the Service or servers or networks connected to the Service, or disobey any requirements, procedures, policies or regulations of networks connected to the Service;
      p.c2
        span.c0
          | (j) intentionally or unintentionally violate any applicable local, state, national or international law, including, but not limited to, regulations promulgated by the U.S. Securities and Exchange Commission, any rules of any national or other securities exchange, including without limitation, the New York Stock Exchange, the American Stock Exchange or the NASDAQ, and any regulations having the force of law;
      p.c2
        span.c0 (k) &quot;stalk&quot; or otherwise harass another;
      p.c2
        span.c0
          | (l) promote or provide instructional information about illegal activities, promote physical harm or injury against any group or individual, or promote any act of cruelty to animals. This may include, without limitation, providing instructions on how to assemble bombs, grenades and other weapons or incendiary devices.
      p.c8
        span.c0
          | (m) offer for sale or sell any item, good or service that (i) violates any applicable federal, state, or local law or regulation, (ii) You do not have full power and authority under all relevant laws and regulations to offer and sell, including all necessary licenses and authorizations, or (iii) HyperDev determines, in its sole discretion, is inappropriate for sale through the Service provided by HyperDev;
      p.c2
        span.c0
          | (n) use the Account website as a redirecting/forwarding service to another website;
      p.c2
        span.c0
          | (o) exceed the scope of the Service that You have signed up for; for example, accessing and using the tools that You do not have a right to use, or having humans share User logins, or deleting, adding to, or otherwise changing other people&apos;s comments or User Content as an Account holder. If any user is reported to be in violation with the letter or spirit of these terms, HyperDev retains the right to terminate such account at any time without further warning.
      p.c2
        span.c0
          | Apple Device and Application Terms. If you are accessing the Service via an application on a device provided by Apple, Inc. (&ldquo;Apple&rdquo;) or an application obtained through the Apple App Store (each an &ldquo;Application&rdquo;), the following shall apply:
      ul.c12.lst-kix_fvefktoflwbz-0.start
        li.c2.c5
          span.c0
            | Both You and HyperDev acknowledge that these Terms of Service are concluded between you and HyperDev only, and not with Apple, and that Apple is not responsible for the Application or the Content;
        li.c2.c5
          span.c0
            | The Application is licensed to You on a limited, non-exclusive, non-transferrable, non-sublicensable basis, solely to be used in connection with the Service for Your private, personal, non-commercial use, subject to all the terms and conditions of these Terms of Service as they are applicable to the Service;
        li.c2.c5
          span.c0
            | You will only use the Application in connection with an Apple device that You own or control;
        li.c2.c5
          span.c0
            | You acknowledge and agree that Apple has no obligation whatsoever to furnish any maintenance and support services with respect to the Application;
        li.c2.c5
          span.c0
            | In the event of any failure of the Application to conform to any applicable warranty, including those implied by law, You may notify Apple of such failure; upon notification, Apple&rsquo;s sole warranty obligation to You will be to refund to you the purchase price, if any, of the Application;
        li.c2.c5
          span.c0
            | You acknowledge and agree that HyperDev, and not Apple, is responsible for addressing any claims You or any third party may have in relation to the Application;
        li.c2.c5
          span.c0
            | You acknowledge and agree that, in the event of any third party claim that the Application or Your possession and use of the Application infringes that third party&rsquo;s intellectual property rights, HyperDev, and not Apple, will be responsible for the investigation, defense, settlement and discharge of any such infringement claim;
        li.c2.c5
          span.c0
            | You represent and warrant that You are not located in a country subject to a U.S. Government embargo, or that has been designated by the U.S. Government as a &ldquo;terrorist supporting&rdquo; country, and that You are not listed on any U.S. Government list of prohibited or restricted parties;
        li.c2.c5
          span.c0
            | Both You and HyperDev acknowledge and agree that, in Your use of the Application, You will comply with any applicable third party terms of agreement which may affect or be affected by such use; and
        li.c2.c5
          span.c0
            | Both You and HyperDev acknowledge and agree that Apple and Apple&rsquo;s subsidiaries are third party beneficiaries of these Terms of Service, and that upon Your acceptance of these Terms of Service, Apple will have the right (and will be deemed to have accepted the right) to enforce these Terms of Service against You as the third party beneficiary hereof.
      p.c2
        span.c0
          | Apple, the Apple logo, iPhone and iPad are trademarks of Apple Inc., registered in the U.S. and other countries. App Store is a service mark of Apple Inc. Google Play is a trademark of Google Inc.
      p.c2
        span.c0
          | In-App Purchases. Through the Application, You may purchase (&ldquo;In App Purchase&rdquo;) keys or other goods or services (collectively, &ldquo;Goods&rdquo;). To the extent You purchase Goods through the Apple iTunes service, you are agreeing to Apple&rsquo;s iTunes&rsquo; Terms and Conditions (
        span.c6
          a.c3(href='http://www.apple.com/legal/itunes/us/terms.html&sa=D&ust=1461936971508000&usg=AFQjCNH_B3ylUFGaS7fjJG5N2Id7LFTH0Q') http://www.apple.com/legal/itunes/us/terms.html
        span.c0 ).
      h2.c1(id='h.18p3xabd74jb')
        span.c4 GENERAL PRACTICES REGARDING USE AND STORAGE.
      p.c2
        span.c0
          | You agree that HyperDev has no responsibility or liability for the deletion of, or the failure to store or to transmit, any User Content and other communications maintained by the Service. You acknowledge that HyperDev may establish general practices and limits concerning use of the Service and may modify such practices and limits from time to time. HyperDev retains the right to create limits on use and storage at our sole discretion at any time with or without notice. You acknowledge that we reserve the right to log off users who are inactive for an extended period of time.
      p.c2
        span.c0 You agree that You will not:
      p.c2
        span.c0
          | (a) upload, post, email, or otherwise transmit any computer routines, files or programs designed to interrupt, destroy or limit the functionality of any computer software or hardware or telecommunications equipment;
      p.c2
        span.c0
          | (b) interfere with or disrupt our Service or networks connected to our website or through the use of our Service, or disobey any requirements, procedures, policies or regulations of networks connected to our website or through the use of our Service, or otherwise interfere with our Service in any way, including through the use of JavaScript, ActiveX or other coding;
      p.c2
        span.c0
          | (c) take any action that imposes an unreasonable or disproportionately large load on our infrastructure; or
      p.c2
        span.c0
          | (d) copy, reproduce, alter, modify, or publicly display any information displayed on the Service (except for Your User Content), or create derivative works from our website (other than from Your User Content), to the extent that such action(s) would constitute copyright infringement or otherwise violate the intellectual property rights of HyperDev or any other third party, except with the prior written consent of HyperDev or the appropriate third party.
      h2.c1(id='h.k0cawtyc02d7')
        span.c4 CONTENT OF THE SERVICE.
      p.c2
        span.c0 HyperDev
        span.c0
          | takes no responsibility for any third-party Content or User Content (including, without limitation,any viruses or other disabling features), nor does HyperDev have any obligation to monitor such third-party Content. HyperDev reserves the right at all times to remove or refuse to distribute any Content on the Service, such as Content which violates these Terms of Service. HyperDev also reserves the right to access, read, preserve, and disclose any information as it reasonably believes is necessary to (a) satisfy any applicable law, regulation, legal process or governmental request, (b) enforce these Terms of Service, including investigation of potential violations hereof, (c) detect, prevent, or otherwise address fraud, security or technical issues, (d) respond to user support requests, or (e) protect the rights, property or safety of HyperDev, its users and the public. HyperDev will not be responsible or liable for the exercise or non-exercise of its rights under this Agreement.
      p.c2
        span.c0
          | If HyperDev discloses such information to satisfy any applicable law, regulation, legal process or governmental request or to respond to user support requests, to the extent permitted by law, regulation or legal process, HyperDev agrees to provide You with prompt notice of any such demand and reasonably cooperate with You in any effort to seek a protective order or otherwise to contest such required disclosure.
      p.c2
        span.c0
          | Your HyperDev profile page is public. This includes your name and any activity that you have had on (including without limitation any User Content that you have submitted to) public boards.
      h2.c1(id='h.30rjsndtn83d')
        span.c4 INTERNATIONAL USE
      p.c2
        span.c0
          | Recognizing the global nature of the Internet, You agree to comply with all local rules regarding online conduct and acceptable User Content. Specifically, You agree to comply with all applicable laws regarding the transmission of technical data exported from the United States or the country in which You reside.
      h2.c1(id='h.c2j29315yyqv')
        span.c4 NO RESALE OF THE SERVICE
      p.c2
        span.c0
          | You agree not to reproduce, duplicate, copy, sell, resell or exploit any portion of the Service, use of the Service, or access to the Service without the express permission by HyperDev.
      h2.c1(id='h.ryfkdzjxxdxk')
        span.c4 YOUR REPRESENTATIONS AND WARRANTIES
      p.c2
        span.c0
          | You represent and warrant that (a) all of the information provided by You to HyperDev to participate in the Service is correct and current; and (b) You have all necessary right, power and authority to enter into these Terms of Service and to perform the acts required of You hereunder.
      h2.c1(id='h.3sbekv5hw7w3')
        span.c4 NO WARRANTIES OR REPRESENTATIONS BY HyperDev INC
      p.c2
        span.c0
          | You understand and agree that the Service is provided &quot;as is&quot; and HyperDev, its affiliates, suppliers and Resellers expressly disclaim all warranties of any kind, express or implied, including without limitation any warranty of merchantability, fitness for a particular purpose, non-infringement or bailment of your data on HyperDev&apos;s servers. HyperDev, its affiliates, suppliers and Resellers make no warranty or representation regarding the results that may be obtained from the use of the Service, the security of the Service, or that the Service will meet any user&apos;s requirements. Use of the Service is at Your sole risk. You will be solely responsible for any damage to You resulting from the use of the Service. The entire risk arising out of use, security or performance of the Service remains with You. No oral or written information or advice given by HyperDev or its authorized representatives shall create a warranty or in any way increase the scope of HyperDev&apos;s obligations. Without limiting the foregoing, the Service is not designed or licensed for use in hazardous environments requiring fail-safe controls, including without limitation operation of nuclear facilities, aircraft navigation/communication systems, air traffic control, and life support or weapons systems. Without limiting the generality of the foregoing, HyperDev, its affiliates, suppliers and Resellers specifically disclaim any express or implied warranty of fitness for such purposes.
      h2.c1(id='h.m3zrtcqc6f67')
        span.c4 INDEMNITY
      p.c2
        span.c0
          | You agree to indemnify, defend and hold harmless HyperDev, its affiliates, officers, directors, employees, consultants, agents, suppliers and Resellers from any and all third party claims, liability, damages and/or costs (including, but not limited to, attorneys fees as and when incurred) arising from Your use of the Service, Your use of Your Account, Your violation of these Terms of Service or the infringement or violation by You or any other User of Your Account, of any intellectual property relating to the Service (including without limitation Your User Content) or other right of any person or entity.
      h2.c1(id='h.mflmra7zbs2a')
        span.c4 MODIFICATIONS TO SERVICE
      p.c2
        span.c0 HyperDev
        span.c0
          |  reserves the right at any time and from time to time to modify or discontinue, temporarily or permanently, the Service (or any part thereof) with or without notice at any time. You agree that HyperDev shall not be liable to You or to any third party for any modification, suspension, termination or discontinuance of the Service.
      h2.c1(id='h.zdppl5kjmkx4')
        span.c4 NO AGENCY
      p.c2
        span.c0
          | No agency, partnership, joint venture, employee-employer or franchiser-franchisee relationship between You and HyperDev Software is intended or created by these Terms of Service.
      h2.c1(id='h.q9e023s7xffa')
        span.c4 LIMITATION OF LIABILITY
      p.c2
        span.c0
          | In no event will HyperDev or its affiliates, suppliers or Resellers be liable for any special, incidental, indirect, exemplary or consequential damages whatsoever (including, without limitation, damages for loss of business profits, business interruption, loss of business information, or any other pecuniary loss or damage) arising out of the use of or inability to use the Service, or the provision of or failure to provide technical or other support service, whether arising in tort (including negligence) contract or any other legal theory, even if HyperDev, its affiliates, suppliers or Resellers have been advised of the possibility of such damages. In any case, HyperDev&apos;s, its affiliates&apos;, suppliers&apos; and Resellers&apos; maximum cumulative liability and Your exclusive remedy for any claims arising out of or related to this Agreement will be limited to the amount actually paid by You for the Service (if any) in the previous twelve (12) months.
      h2.c1(id='h.eslovwt6foh0')
        span.c4 WAIVER AND SEVERABILITY
      p.c2
        span.c0
          | Failure by either party to exercise any of its rights under, or to enforce any provision of, this Agreement will not be deemed a waiver or forfeiture of such rights or ability to enforce such provision. If any provision of this Agreement is held by a court of competent jurisdiction to be illegal, invalid or unenforceable, that provision will be amended to achieve as nearly as possible the same economic effect of the original provision and the remainder of this Agreement will remain in full force and effect.
      h2.c1(id='h.l6icf4khrq8x')
        span.c4 STATUTE OF LIMITATIONS
      p.c2
        span.c0
          | You agree that regardless of any statute or law to the contrary, any claim or cause of action arising of or related to use of HyperDev services or the Terms of Service must be filed within one (1) year after such claim or cause of action arose or be forever barred.
      h2.c1(id='h.itwqd2y61ybi')
        span.c4 CHOICE OF LAW AND FORUM
      p.c2
        span.c0
          | This Agreement shall be governed by and construed under the laws of the State of New York, USA, as applied to agreements entered into and to be performed in New York by New York residents. The parties consent to the exclusive jurisdiction and venue of the courts located in and serving the Borough of Manhattan, in the City of New York, in the State of New York, USA.
      h2.c1(id='h.pzy732crze9w')
        span.c4 ENTIRE AGREEMENT/GENERAL PROVISIONS
      p.c2
        span.c0
          | This Agreement embodies the entire understanding and agreement between the parties respecting the subject matter of this Agreement and supersedes any and all prior understandings and agreements between the parties respecting such subject matter. HyperDev may change the terms of this Agreement at any time by posting modified terms on its website. This Agreement has been prepared in the English Language and such version shall be controlling in all respects and any non-English version of this Agreement is solely for accommodation purposes. Any and all rights and remedies of HyperDev upon Your breach or other default under this Agreement will be deemed cumulative and not exclusive of any other right or remedy conferred by this Agreement or by law or equity on HyperDev, and the exercise of any one remedy will not preclude the exercise of any other. The captions and headings appearing in this Agreement are for reference only and will not be considered in construing this Agreement. Notices to You may be made via either email or regular mail. The Service may also provide notices of changes to the Agreement or other matters by displaying notices or links to notices to You generally on the Service. All notices or other correspondence to HyperDev under this Agreement must be sent to the following electronic mail address for such purpose: 
        span.c9 customer-service@fogcreek.com
      p.c2
        span.c0 Or the following physical address:
      p.c2
        span.c0 HyperDev, Inc.
      p.c2
        span.c0 55 Broadway, 25th Floor
      p.c2
        span.c0 New York, NY 10006
        
    section.content
      a(name="privacy")
      h1.c12(id='h.h8k4n3tlfx2v')
        span.c10 HyperDev, Inc. Privacy Policy
      h2.c6(id='h.t18smc4m42dv')
        span.c5 WHO WE ARE AND WHAT THIS IS
      p.c2
        span.c1 HyperDev
        span.c1
          | , Inc. (&ldquo;HyperDev&rdquo;) is the producer and owner of HyperDev (collectively referred to here as the/our &quot;Software&quot; or the/our &quot;Services&quot;), which are collaborative web and mobile based applications that help teams and individuals stay organized and communicate.
      p.c2
        span.c1
          | We take the private nature of your personal information very seriously, and are committed to protecting it. To do that, we&apos;ve set up procedures to ensure that your information is handled responsibly and in accordance with applicable data protection and privacy laws. We&apos;re grateful for your trust, and we&apos;ll act that way.
      p.c2
        span.c1
          | This privacy policy describes what information we collect when you visit our Services, how we use that information, and what choices we offer you to access, update, and control it. This version of the policy is effective as of the latest date indicated in the Change Log, below.
      h2.c6(id='h.l75m4t8an99d')
        span.c5 TYPES OF INFORMATION
      p.c2
        span.c1
          | &quot;Personal information&quot; is any information that we could use to identify an individual. It does not include personal information that is encoded or anonymized, or publicly available information that has not been combined with non-public information.
      p.c2
        span.c1
          | &quot;Sensitive personal information&quot; is information that meets the &quot;personal information&quot; criteria and also a.) reveals race, ethnic origin, political opinions, religious or philosophical beliefs, trade union membership, or b.) concerns health or sex life, information about Social Security benefits, or information on criminal or administrative proceedings other than in the context of pending legal proceedings.
      h2.c6(id='h.phxm6x5dx7zc')
        span.c5 HOW WE COLLECT INFORMATION
      p.c2
        span.c1
          | We collect information two ways: Information we get from your use of our Services, and information you provide to us directly.
      p.c2
        span.c1
          | Information we get from your use of the Services is primarily non-personally-identifying information of the sort that web browsers, servers, and services like Google Analytics* typically make available, such as the browser type, language preference, referring site, and the time of each visit. Other non-identifying information that we might have access to includes how you use the Service (e.g. search queries), your approximate location, cookies, etc.
      p.c2
        span.c1
          | We collect this non-personally-identifying information in order to better understand how visitors use the Services and, where possible, to improve their experience. For instance, we log the time it takes to run database queries so that we can improve performance. In some cases, we may publicly display information that is not personally identifying in the aggregate, (e.g., by publishing a report on trends in the usage of our Services) or may provide the aggregate data to third parties.
      p.c2
        span.c1
          | When you use the Services, we also collect potentially personally identifying information in the form of Internet Protocol (IP) addresses, the Uniform Resource Locator (URL) accessed (which may reference the name of a board, card, username, or team), and the unique identification number associated with the account. We don&apos;t use that information to identify you, with one exception: we may discover, by reviewing log files, that a particular account is using the Services in a way that is degrading the experience for all the Services&rsquo; users. If this is discovered, we may look up personally identifiable information associated with that account in order to contact the account owner. We handle and disclose this information in the same way we handle other potentially personally identifying information as described below.
      p.c2
        span.c1
          | Information you provide to us directly. Certain visitors to our Services choose to interact with them in ways that may require them to provide us with personally identifying information. The amount and type of information that is provided depends on the nature of the interaction. For example, we ask visitors who sign up for our Services to provide a real name, username, and email address. Organizations and individuals who engage in financial transactions to purchase paid services are asked to provide additional information, such as the personal and financial information required to process those transactions. In each case, we only collect as much information as is necessary or appropriate given the type of interaction. We do not disclose personally identifying information other than as described below. And you can always refuse to supply personally identifying information, with the caveat that it may prevent you from engaging in certain activities.
      p.c2
        span.c1
          | If you send us a request, such as emailing us for support, we reserve the right to publish it (absent any personally identifying information) in order to help us clarify or respond to your request or help other users.
      p.c2
        span.c1
          | In the process of supporting our Services, we may discover personally identifiable information associated with your account. The only personally identifiable information we may discover during the support process without your consent includes your email address and the names of any organizations to which you belong. Any further information will not be discovered without your consent.
      p.c2
        span.c1
          | In the process of supporting our Services, we may need to investigate the data within your account, including data you have entered into private boards, cases, wikis, etc. If this occurs, we will always request your explicit permission before looking at the data in your account.
      p.c2
        span.c1
          | A cookie is a small piece of data that a website stores on a visitor&apos;s computer, and that the visitor&apos;s browser provides to the website each time the visitor returns. We use cookies to help us track visitors&apos; use of the Services and their preferences. If you do not wish to have cookies placed on your computer, you should set your browser to refuse cookies, but should be aware that certain features of our Services may not function properly without them.
      p.c2
        span.c1
          | If you are outside the United States, you should know that any personally identifiable information you enter into the Services will be transferred out of your country and into the United States, and possibly to other countries. By using the Services, you consent to such transfer and are representing that you have the right to transfer such information outside your country.
      p.c2
        span.c1
          | We do not collect any personally identifiable information from children under the age of 13. If you believe that a child has provided us with personally identifiable information without the consent of his or her parent or guardian, please contact us at
        span.c9  customer-service@fogcreek.com
        span.c1
          | . If we become aware that a child under age 13 has provided us with personally identifiable information, we&apos;ll delete it.
      h2.c6(id='h.ux32s5vcogjx')
        span.c5 INFORMATION YOU CHOOSE TO DISPLAY PUBLICLY ON OUR SERVICES
      p.c2
        span.c1
          | Some users may elect to publicly post personally identifying or sensitive information about themselves in their normal use of our Services. This could occur through use of optional profile fields, in interactions on public boards, wikis, cases and forums, or if a previously private interaction is made public. Information like that, which is voluntarily posted in publicly visible parts of our Services, is considered to be public, even if it would otherwise be considered to be personally identifying or sensitive. As such, it is not subject to the protocols listed below, because we don&apos;t control it; you do. Additionally, voluntarily publicizing such information means that you lose any privacy rights you might normally have with regards to that information. It may also increase your chances of receiving unwanted communications, like spam.
      p.c2
        span.c1
          | Please also remember that if you choose to provide personally identifiable information using certain public features of the Services, individuals reading such information may use or disclose it to other individuals or entities without our control and without your knowledge, and search engines may index that information. We therefore urge you to think carefully about including any specific information you may deem private in content that you create or information that you submit through our Services.
      h2.c6(id='h.6jnrbbva3fpa')
        span.c5 INFORMATION YOU GIVE TO OTHER PEOPLE
      p.c2
        span.c1
          | This Policy only applies to information collected by HyperDev. It does not apply to the practices of companies that we don&apos;t own or control, or employees that we don&apos;t manage. Information on our Services&rsquo; boards, wikis, cases and forums may contain links to third party websites, and any information you provide to those sites will be covered by any privacy policies they may have. Please be sure to read the privacy policies of any third-party sites you visit. It is those sites&apos; responsibility to protect any information you give them, so we can&apos;t be held liable for their wrongful use of your personally identifying information.
      h2.c6(id='h.tgz67n1g3we0')
        span.c5 HOW WE USE INFORMATION WE COLLECT
      p.c2
        span.c1
          | Notice &mdash; Notice is what this privacy policy that you&apos;re reading is all about. You are reading it, right? It&apos;s important! When we collect your personal information, we&apos;ll tell you how we&apos;re using it, any types of third parties to which we might disclose it, (other than &quot;agents,&quot; such as vendors or contractors, who are only processing such information for us or at our direction), and the choices we offer you to limit the use of your information.
      p.c2
        span.c1
          | Notice will be provided in clear and conspicuous language when you are first asked to provide us with personal information, or as soon as practicable thereafter, and we&apos;ll notify you before we use the information for something other than the purpose for which it was originally collected. If anything in this policy seems unclear, please don&apos;t hesitate to contact us at 
        span.c9 customer-service@fogcreek.com
        span.c1 , so we can address your question and possibly clarify this document.
      p.c2
        span.c1
          | Although most changes are likely to be minor, we may occasionally need to change this policy. If we do update it, we&apos;ll notify you either by posting the new policy on our Services, their blogs, or by emailing you the changes or a link to the modified document. (See the &quot;Choice&quot; section below for information about how we&apos;ll notify you if we change our policy regarding sensitive information.) In any case, the way we use information you provide will be covered by the privacy policy that was in effect at the time it was collected.
      p.c2
        span.c1 Here are some of the ways we may use personal information you provide us:
      ul.c4.lst-kix_3ln9lf8p06ue-0.start
        li.c0
          span.c1
            | To allow you to register for our Services and to administer and process the registration
        li.c0
          span.c1 To communicate with you about our products, services and related issues
        li.c0
          span.c1
            | To evaluate the quality of our products and services, and to enhance your experience on our web sites
        li.c0
          span.c1
            | To maintain and administer our web sites and comply with our legal or internal obligations and policies
        li.c0
          span.c1
            | To transfer information to others as described in this policy or to satisfy our legal, regulatory, compliance, or auditing requirements
        li.c0
          span.c1
            | To charge you any fees and provide you with a receipt or resolve billing issues associated with your account
        li.c0
          span.c1
            | In the case of accounts created using business email domains, to provide your contact information to an administrator of the business email domain to facilitate the provision of additional products and/or services
      p.c2
        span.c1
          | Choice &mdash; Choice is all about making sure you have the ability to control how we share your personal information with others. We never share any of your personal information with non-agent third parties.
      p.c2
        span.c1
          | We won&apos;t share your personal information with non-agent third parties unless we are required to do so by law, or if we believe in good faith that disclosure is reasonably necessary to protect our property, rights or those of third parties or the public at large. It is possible that we may, on occasion, buy or sell assets from or to other companies. If that should occur, user information is typically one of the assets that get transferred. Similarly, if HyperDev or most of its assets were acquired, or in the unlikely event that we go out of business or enter bankruptcy, user information could be transferred or acquired. You should be aware that such events can occur, and that if it does, the buyer may continue to use your personal and non-personal information, but only as set forth in this policy. Other than in these rare circumstances, HyperDev will not rent or sell potentially personally identifying information to anyone.
      p.c2
        span.c1
          | We may from time to time request some of your financial information for the purposes of completing transactions you have initiated through the Services, enrolling you in discount, rebate, and other programs in which you elect to participate, protecting against or identify possible fraudulent transactions, and otherwise as needed to manage our business.
      p.c2
        span.c1
          | It&apos;s hard to imagine that we would ever consider collecting, let alone sharing, sensitive information with a non-agent third party, but if such a day should come, we will first give you the opportunity to explicitly consent (opt-in) to such disclosure or to any use of the information for a purpose other than the one for which it was originally collected or previously authorized.
      p.c2
        span.c1
          | If you are a registered user of our Services and have supplied your email address, we may occasionally send you an email to tell you about new features, solicit your feedback, or just keep you up to date with what&apos;s going on with the Services. We generally use our Services to communicate this type of information, so we expect to keep this type of communication to a minimum. If we do send you information that you did not expressly request, we will provide you with a way to request that you don&apos;t get any similar notices (opt-out, unsubscribe, etc.).
      p.c2
        span.c1
          | Onward Transfer &mdash; Prior to providing agents with any personal information, we will obtain assurances that they will safeguard it in accordance with this policy.
      p.c2
        span.c1
          | In the unlikely event that we should discover that an agent is using personal information in a way that conflicts with this policy, we will take all reasonable steps to stop it immediately.
      p.c2
        span.c1
          | Security &mdash; All records containing personal or financial information are considered to be our property and are afforded confidential treatment at all times. We work hard to protect against the unauthorized access, use, alteration or destruction of personal or financial information. All such electronic information is stored on restricted database servers, and is generally kept until such time as you may ask us to edit or delete it, as described below. We only disclose such information to our employees, contractors or affiliates that a) need to know that information in order to process it for us or to provide other services, and b) have agreed not to disclose it to others.
      p.c2
        span.c1
          | All interactions with our Services use the Transport Layer Security/Secure Sockets Layer (TLS/SSL) protocol. We use a third-party, industry-accepted Payment Gateway to securely process credit card transactions.
      p.c2
        span.c1
          | Data Integrity &mdash; In addition to assuring you that we will protect your personal information, we also want to make sure that it is reliable, accurate, and up-to-date.
        span.c1
          | If you have any concerns or complaints about how you think we&apos;ve handled your personal information, please contact 
        span.c9 customer-service@fogcreek.com
        span.c1
          |  or our Data Protection Officer at the address below. We will work hard to investigate and resolve any complaints you might have.
      h2.c6(id='h.y172kr50cpzc')
        span.c5 HyperDev AND INFORMATION COLLECTED FROM CHILDREN
      p.c2
        span.c1 HyperDev 
        span.c1
          | does not knowingly collect personal information from children without parental consent. If we learn that we have inadvertently obtained information in violation of applicable laws, we will promptly delete the information. For more information on HyperDev&apos;s approach to children&apos;s use of HyperDev (including our compliance with the U.S. Children&apos;s Online Privacy Protection Act (&quot;COPPA&quot;), please see the section of our 
        span.c7
          a.c3(href='#tos') Terms of Service
        span.c1  called &quot;Kids Under 13 and HyperDev.&quot;
      h2.c6(id='h.2p3ltykzkuk')
        span.c5 HOW TO CONTACT US
      p.c2
        span.c1
          | If you have any questions about this policy or our site in general, please contact us at 
        span.c9 customer-service@fogcreek.com
        span.c1 .
      p.c2
        span.c1 Our Data Protection Officer is David Miller.
      p.c2
        span.c1 Written Inquiries can be sent to:
      p.c2
        span.c1 HyperDev
      p.c2
        span.c1 One Exchange Plaza, 25th Floor
      p.c2
        span.c1 New York, NY 10006
      p.c2
        span.c1 USA
      h2.c6(id='h.db1q17q6ed8o')
        span.c5 Security
      p.c2
        span.c1 Please see the 
        span.c7
          a.c3(href='#') HyperDev Security Policy 
        span.c1  (coming soon)
      h2.c6(id='h.h1ugxgp55shd')
        span.c5 EMPLOYEES&apos; &amp; PROSPECTIVE EMPLOYEES&apos; INFORMATION
      p.c2
        span.c1
          | This section covers any ways in which personal information we collect from employees or applicants might be treated differently than user information. You can probably stop here if you are not an employee or interested in applying for a job with HyperDev. But maybe you should be interested: Who wouldn&apos;t want to work with an amazingly talented team dedicated to making awesome software, especially at a company with free lunches, top-notch benefits, and a founder who has literally written 
        span.c7
          a.c3(href='http://www.amazon.com/dp/1590598385/&sa=D&ust=1461937316306000&usg=AFQjCNHDkYyykXEfGva1f-BOjyB7bN1u7w') the book
        span.c1
          |  on how to make great workplaces for building amazing software? The more I think about it, the more I think maybe you should click here after all: 
        span.c7
          a.c3(href='https://fogcreek.com/jobs') https://fogcreek.com/jobs
        span.c1
          | . And if you do, be sure to review the following non-comprehensive list of ways that we may use information provided to us by employees or applicants:
      ul.c4.lst-kix_3t1nm3lpd993-0.start
        li.c0
          span.c1
            | Responding to inquiries in connection with prospective employment at HyperDev, and processing employment applications
        li.c0
          span.c1
            | Carrying out human resources functions like training, career / succession planning, administering contracts, evaluating employees, and providing benefits
        li.c0
          span.c1
            | Enabling HyperDev and its employees to contact each other by telephone, fax, e-mail, or &quot;snail mail&quot;
        li.c0
          span.c1 Administering compensation, bonus and other employment needs
        li.c0
          span.c1 Arranging employees&apos; travel plans
        li.c0
          span.c1 Maintaining building security and employee health and safety
        li.c0
          span.c1
            | Running internal administrative analytics, such as staffing, headcount and statistics initiatives
        li.c0
          span.c1 Complying with our legal obligations, policies and procedures
        li.c0
          span.c1
            | Transferring personal information to others as required by our legal, regulatory, compliance and auditing needs
      p.c2
        span.c1 * Google Analytics is a registered trademark of Google, Inc.
      p.c8
        span
    
    section.content
      a(name="dmca")    
      p.c3(id='h.at78by84xxp')
        span.c0 Purpose:
      p.c5(id='h.g0ertcxlbk61')
        span.c1
          | In order to fulfill our obligations to copyright owners, HyperDev complies with the Digital Millennium Copyright Act (&ldquo;DMCA&rdquo;). This policy sets out how we do that, including steps copyright owners should take if they believe that their copyrights have been infringed.
      p.c3(id='h.7ubl1pm81qqh')
        span.c0 How to File a DMCA Notice
      p.c5(id='h.g0ertcxlbk61-1')
        span.c1
          | If you are a copyright owner, or authorized to act on behalf of one, and you believe that the copyrighted work has been copied and placed on HyperDev in a way that constitutes copyright infringement, please deliver a written DMCA Notice to our Designated DMCA Agent at the contact information provided below.
      p.c3(id='h.oah37ut3kalf')
        span.c0 Your written DMCA Notice must:
      ol.c8.lst-kix_n8rwlkt9klm6-0.start(start='1')
        li.c4
          p(id='h.g0ertcxlbk61-2', style='display:inline')
            span.c1
              | Include a physical or electronic signature of someone authorized to act on behalf of the copyright owner;
        li.c4
          p(id='h.g0ertcxlbk61-3', style='display:inline')
            span.c1 Identify the copyrighted work(s) that you are claiming is being infringed;
        li.c4
          p(id='h.g0ertcxlbk61-4', style='display:inline')
            span.c1
              | Identify the content that is claimed to be infringing and the URL or other description of where it is located on the Service;
        li.c4
          p(id='h.g0ertcxlbk61-5', style='display:inline')
            span.c1
              | Provide reasonably sufficient information to permit us to contact you, including your address, telephone number, and, email address;
        li.c4
          p(id='h.g0ertcxlbk61-6', style='display:inline')
            span.c1
              | Provide a statement that you have a good faith belief that use of the material in the manner complained of is not authorized by the copyright owner, its agent, or the law; and
        li.c4
          p(id='h.g0ertcxlbk61-7', style='display:inline')
            span.c1
              | Provide a statement, that the information in the DMCA Notice is accurate and, under penalty of perjury, that you are the copyright owner or are authorized to act on behalf of the owner.
      p.c3(id='h.o0r0i4sw5jl')
        span.c0 Designated DMCA Agent Contact Information
      p.c5(id='h.g0ertcxlbk61-8')
        span.c1 HyperDev, Inc.
      p.c5(id='h.g0ertcxlbk61-9')
        span.c1 ATTN: David Miller
      p.c5(id='h.g0ertcxlbk61-10')
        span.c1 55 Broadway, 25th Floor
      p.c5(id='h.g0ertcxlbk61-11')
        span.c1 New York, NY 10006
      p.c5(id='h.g0ertcxlbk61-12')
        span.c1 USA
      p.c5(id='h.g0ertcxlbk61-13')
        span.c1 1 (212)-279-2335 x7003
      p.c5(id='h.g0ertcxlbk61-14')
        span.c1 customer-service@fogcreek.com
      p.c5(id='h.g0ertcxlbk61-15')
        span.c1
          | Any person who knowingly misrepresents that material or activity is infringing may be subject to liability for damages. Nothing in this policy constitutes legal advice. You may want to seek the advice of legal counsel before submitting a DMCA notice.
      p.c5(id='h.g0ertcxlbk61-16')
        span.c1
          | In accordance with the DMCA and other applicable law, it is HyperDev&rsquo;s policy, in appropriate circumstances and at our discretion, to disable and/or terminate the accounts of users who infringe or repeatedly infringe the rights of others or otherwise post unlawful content.
      p.c5(id='h.swqkt6bk8p8l')
        span.c1
          | Please note that this policy is only for notifying HyperDev of claims that copyrighted material has been infringed. For issues other than copyright infringement, or for questions about these or any other HyperDev terms or policies, please email us at customer-service@fogcreek.com.
      p.c3.c7(id='h.g0ertcxlbk61-17')
        span.c0
      p.c6
        span
    
    include footer