<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: http://mozilla.github.io/nunjucks/ -->
<!-- jade: http://jade-lang.com/ -->
<!-- haml: http://haml.info/tutorial.html -->
<!-- hbs(handlebars): http://handlebarsjs.com/expressions.html -->

<!DOCTYPE html>
<html>
  <head>
    <title>Shopping List</title>
    <meta name="description" content="A cool thing made with HyperDev">
    <link id="favicon" rel="icon" href="https://hyperweb.space/favicon.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1>
        Shopping List
      </h1>
    </header>

    <main>
      <section class="ingredients">
        <ul id="ingredients">
        </ul>
      </section>
    </main>

    <footer>
      <!-- Put in a quick tutorial here, or link to one -->
      <a href="https://hyperdev.com">
        Remix this in HyperDev
      </a>
    </footer>

    <!-- Your web-app is https, so your scripts need to be too -->
    <script type='text/javascript'>
      // Load up our template info into a variable for scripts
      var trelloList = '<%= trelloList %>';
    </script>
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="https://api.trello.com/1/client.js?key=<%= trelloAppKey %>"></script>
    <script src="/client.js"></script>
    <script src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
  </body>
</html>
