<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html>
  <head>
    <title>Google Sheets Data Dashboard</title>
    <meta name="description" content="Google Sheets Data Dashboard - Made With HyperDev">
    <link id="favicon" rel="icon" href="https://hyperweb.space/favicon.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/jquery.gridster.min.css">    
  </head>
  <body>
    <header>
      <h4>
        Google Sheets Data Dashboard
      </h4>
    </header>
    <br />
    <main>
      <section id="charts">
      </section>
      <span>Data at <a href="https://docs.google.com/spreadsheets/d/1wz29qFmSVUoUpcxZzwPgyamrfXTjN8cnqydPW8N6XAg/edit?usp=sharing" target="_new">https://docs.google.com/spreadsheets/d/1wz29qFmSVUoUpcxZzwPgyamrfXTjN8cnqydPW8N6XAg/edit?usp=sharing</a></span>
    </main>

    <footer>
      <a href="https://hyperweb.space#!/remix/dashboard/824edd48-c9bd-4aee-a3fb-561bb97344ed">
        Remix this in HyperDev
      </a>
    </footer>

    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>        
    <script src="/jquery.gridster.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/client.js"></script>
  </body>
</html>